<h1 class="mbb-2">Tạo bài viết</h1>
<form action="">
    <div class="div">
        <label for="" class="form-label">Tên bài viết</label>
        <input type="text" class="form-control">
        <p style="color: red;"></p>
    </div>
    <div class="div">
        <label for="" class="form-label">Mô tả</label>
        <input type="text" class="form-control">
        <p style="color: red;"></p>
    </div>
    <div class="div">
        <label for="" class="form-label">Nội dung</label>
        <textarea name="" id="" class="w-100" rows="10">
        </textarea>
        <p style="color: red;"></p>
    </div>
    <div class="div mb-4">
        <label for="" class="form-label">Slug</label>
        <input type="text" class="form-control">
        <p style="color: red;"></p>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Lưu bài viết</button>
    </div>
</form>