<!DOCTYPE html>
<html lang="en">
<app-navbar (eventSearch)="searchEvent($event)"></app-navbar>
<!-- body -->
<div class="container mt-4" id="the-body">
  <div class="row py-3">
    <div class="col-md-8">
      <app-loading *ngIf="isLoading"></app-loading>
      <app-alert *ngIf="data.message !== ''"></app-alert>
      <router-outlet (activate)="active()"></router-outlet>
    </div>
    <div class="col-md-4">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>
<app-footer></app-footer>