<div class="container py-2 position-sticky" id="the-navbar">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']">MYBLOG</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/']">NEW</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/']">TRENDING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/post']"
                            [queryParams]="{category:'lap-trinh-web'}">WEB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/post']"
                            [queryParams]="{category:'lap-trinh-mobile'}">MOBILE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/post']"
                            [queryParams]="{category:'database'}">DATABASE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/']">OTHER</a>
                    </li>
                    <!-- *ngIf="data.User" -->
                    <li class="nav-item" *ngIf="data.User">
                        <a class="nav-link active" aria-current="page" [routerLink]="['/manage']">MANAGE</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" id="searchInout" name="searchInput" [(ngModel)]="searchInput"
                        type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline"
                        style="color: rgba(249, 58, 19, 1);border: 1px solid rgba(249, 58, 19, 1);"
                        (click)="search()">Search</button>
                </form>
                <span class="nav-item" *ngIf="data.User==null">
                    <a class="ms-3 nav-link" style="color: white;text-decoration: none;"
                        [routerLink]="['/auth/signin']">Đăngnhập</a>
                </span>
                <span class="nav-item" *ngIf="data.User != null">
                    <a class="ms-3 nav-link" style="color: white;text-decoration: none;"
                        [routerLink]="['/user/profile',data.User.userId]">{{data.User.userName}}</a>
                </span>
            </div>
        </div>
    </nav>
</div>