<h1 class="mbb-2">Danh sách thẻ</h1>
<div class="h-100">
    <div class="py-3"><a [routerLink]="['/tag/create']" class="btn btn-success">Tạo thẻ mới</a></div>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên thẻ</th>
                <th>Mô tả</th>
                <th>Mô tả</th>
            </tr>
        </thead>
        <tbody *ngFor="let i of listTag,let idx = index">
            <tr>
                <td>{{idx+1}}</td>
                <td>{{i.tagName}}</td>
                <td>{{i.tagDescription}}</td>
                <td>
                    <a [routerLink]="['/tag/edit',i.tagId]" class="btn btn-warning me-2">Chỉnh sửa</a>
                    <a [routerLink]="['/tag/delete']" class="btn btn-danger" (click)="deleteTag()">Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>