.card {
    background-color: #424664 !important;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

a {
    background-color: rgb(249, 58, 19) !important;
    outline: none !important;
    border: none !important;
}

a:hover {
    background-color: #424664 !important;
    color: rgb(249, 58, 19) !important;
    border: 1px solid rgb(249, 58, 19) !important;
}