<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">USER</h5>
                <p class="card-text">Manage user of this blog</p>
                <a [routerLink]="['/user/list']" class="btn btn-primary">Manage user</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ROLE</h5>
                <p class="card-text">Manage role of this blog</p>
                <a [routerLink]="['/role/list']" class="btn btn-primary">Manage role</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">CATEGORY</h5>
                <p class="card-text">Manage category of this blog</p>
                <a [routerLink]="['/category/list']" class="btn btn-primary">Manage category</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TAG</h5>
                <p class="card-text">Manage tag of this blog</p>
                <a [routerLink]="['/tag/list']" class="btn btn-primary">Manage tag</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">POST</h5>
                <p class="card-text">Manage post of this blog</p>
                <a [routerLink]="['/post/list']" class="btn btn-primary">Manage post</a>
            </div>
        </div>
    </div>
</div>